:root {
  font-size: 15px;
  --varRed: hsl(0, 78%, 62%);
  --varCyan: hsl(180, 62%, 55%);
  --varOrange: hsl(34, 97%, 64%);
  --varBlue: hsl(212, 86%, 64%);
  --varVyDarkBlue: hsl(234, 12%, 34%);
  --varGyBlue: hsl(229, 6%, 66%);
  --varVyLtGray: hsl(0, 0%, 98%);
}
body {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background: var(--varVyLtGray);
  color: var(--varGyBlue);
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.power-by-tech,
.section-title {
  color: var(--varVyDarkBlue);
}
.section-para {
  color: var(--varGyBlue);
}
.supervisor-wrapper {
  border-top: 0.2rem solid var(--varCyan);
  box-shadow: rgba(149, 157, 165, 0.4) 10px 20px 50px;
}
.team-builder-wrapper {
  border-top: 0.2rem solid var(--varRed);
  box-shadow: rgba(149, 157, 165, 0.4) 10px 20px 50px;
}
.karma-wrapper {
  border-top: 0.2rem solid var(--varOrange);
  box-shadow: rgba(149, 157, 165, 0.4) 10px 20px 50px;
}
.calculator-wrapper {
  border-top: 0.2rem solid var(--varBlue);
  box-shadow: rgba(149, 157, 165, 0.4) 10px 20px 50px;
}
.icon-wrapper {
  margin-top: 1.5rem;
  display: inline-block;
  position: relative;
  left: 75%;
}
